<ion-view can-swipe-back="true">
	<ion-nav-title>Agendamento : {{especialidade}}</ion-nav-title>
	
	<ion-content>
		<div class="logo"><img src="img/unimed.png"></div>

		
		<div class="list">

			<div class="item item-divider">
					<!-- <label class="item item-input custom-input-label item-stacked-label ">
				     	<input type="date" name="input" ng-model="dataMarcada"/>
			      	</label> -->
			      	<div class="row" style="background-color: #FFFFFF;padding-top: 0px;padding-bottom: 0px;">
				      	<div class="row col-33 col-center" ng-click="escolherAno()" >
				      		<div class="col col-50" style="color:#0000FF; border-bottom: 1px solid #aaa;">
				      			<div >{{calendario.ano}}</div>
				      		</div>
				      		<div class="col col-10" style="border-bottom: 1px solid #aaa;">
				      			<a class="ion-arrow-down-b"></a>
				      		</div>
				      	</div>
				      	<div class="row col-33 col-bottom" ng-click="escolherMes()">
				      		<div class="col col-75" style="color:#0000FF; border-bottom: 1px solid #aaa;">
				      			<div >{{calendario.mes}}</div>
				      		</div>
				      		<div class="col col-10" style="border-bottom: 1px solid #aaa;">
				      			<a class="ion-arrow-down-b"></a>
				      		</div>
				      	</div>
				      	<div class="row col-33 col-bottom" ng-click="escolherDia()">
				      		<div class="col col-50" style="color:#0000FF; border-bottom: 1px solid #aaa">
				      			<div >{{calendario.dia}}</div>
				      		</div>
				      		<div class="col col-10" style="border-bottom: 1px solid #aaa;">
				      			<a class="ion-arrow-down-b"></a>
				      		</div>
				      	</div>
			      	</div>
			      		<!-- <div class="col">
			      			<input type="text" ng-model="mes"/>
			      			<a class="ion-arrow-down-b"></a>
			      		</div>
			      		<div class="col">
			      			<input type="text" ng-model="dia"/><a class="ion-arrow-down-b"></a>
			      		</div>
			      	</div> -->


			</div>
			<div>
				<div class="row">
					<div class="col col-75">
						<h5 class="detalhe"> Horários {{dataMarcada | date:'dd.MM.yyyy'}}</h5>
					</div>
				</div>
			</div>
			
			<a class="item" href="#/agendar/{{especialidade}}/{{dataMarcada | date:'dd.MM.yyyy'}}/08">
				<div class="row">
					<div class="col-50">
						08:00 - 08:59
					</div>
					<div class="col-50">
						<h3 class="detalhe">3 disponíveis</h3>
					</div>
					<div class="">
						<i class="ion-chevron-right"></i>
					</div>
				</div>
			</a>
			<a class="item" href="#/agendar/{{especialidade}}/{{dataMarcada | date:'dd.MM.yyyy'}}/09">
				<div class="row">
					<div class="col-50">
						09:00 - 09:59
					</div>
					<div class="col-50">
						<h3 class="detalhe">2 disponíveis</h3>
					</div>
					<div>
					<i  class="ion-chevron-right"></i>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
   				<div class="row">
   					<div class="col-50">
						10:00 - 10:59
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>		
			</a>
			<a class="item" href="#/agendar/{{especialidade}}/{{dataMarcada | date:'dd.MM.yyyy'}}/11">
				<div class="row">
					<div class="col-50">
						11:00 - 11:59
					</div>
					<div class="col-50">
						<h3 class="detalhe">2 disponíveis</h3>
					</div>
					<div>
						<i  class="ion-chevron-right"></i>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
				<div class="row">
					<div class="col-50">
						12:00 - 12:59 
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
				<div class="row">
					<div class="col-50">
						13:00 - 13:59
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
				<div class="row">
					<div class="col-50">
						14:00 - 14:59
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>
			</a>
			<a class="item" href="#/agendar/{{especialidade}}/{{dataMarcada | date:'dd.MM.yyyy'}}/16">
				<div class="row">
					<div class="col-50">
						15:00 - 16:59
					</div>
					<div class="col-50">
						<h3 class="detalhe">4 disponíveis</h3>
					</div>
					<div class="">
						<i  class="ion-chevron-right"></i>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
				<div class="row">
					<div class="col-50">
						17:00 - 17:59 
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
				<div class="row">
					<div class="col-50">
						18:00 - 18:59
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>
			</a>
			<a class="item" href="#" data-tap-disabled="true">
				<div class="row">
					<div class="col-50">
						19:00 - 19:59
					</div>
					<div class="col-50">
						<h3 class="indisponivel">indisponíveis</h3>
					</div>
				</div>
			</a>

		</div>
  			
	</ion-content>	

</ion-view>