<ion-view can-swipe-back="true">
	<ion-nav-title>
		<div class="title title-center header-item">
			<span class="nav-bar-title">
				Agendamento
			</span>
		</div>
	</ion-nav-title>
	
	<ion-content>
		<div class="row logo"> <img class="col-50 col-offset-25 logo" src="img/unimed.png" ></div>

		<div class="bar bar-header item-input-inset">
  			<label class="item-input-wrapper">
	    		<i class="icon ion-ios-search placeholder-icon"></i>
	    		<input type="search" placeholder="Filtrar" ng-model="query">
  			</label>
  			<button class="button button-clear">Cancel</button>
  			
		</div>

		<div class="list" >
  			<a class="item" ng-repeat="especialidade in agendamento.especialidades | filter:query" href="#/agendar/{{especialidade.nome}}">
    			<div  class="row">
    				<div class="col-90">
		    			{{especialidade.nome}}
	    			</div>
	    			<div class="col-10">
		    			<i class="ion-chevron-right" ></i>
	    			</div>
	    		</div>
  			</a>
		</div>
	
	</ion-content>	

</ion-view>