<ion-view can-swipe-back="true">
	<ion-nav-title> 
		<div class="row">
			<div class="col col-75 col-offset-10">Cancelar Consulta</div>
			<div class="col "> <a ng-click="opcoes()" class="ion-ios-checkmark-outline"></a></div>
		</div>
	</ion-nav-title>

	<ion-content>
		<div class="logo"><img src="img/unimed.png"></div>

			<ion-checkbox ng-change="necessario=false;outro=false" ng-model="remarcar">Consulta precisa ser remarcada</ion-checkbox>
			<ion-checkbox ng-change="remarcar=false;outro=false" ng-model="necessario">Consulta não é mais necessária</ion-checkbox>
			<ion-checkbox ng-change="necessario=false;remarcar=false" ng-model="outro" >Outro(s) motivo(s)</ion-checkbox>
<br/>
		<div ng-show="outro" class="row">
			<div class="col">
				<label class="item item-input">
			    	<textarea style="margin-top: 0px; margin-bottom: 0px; height: 76px;"placeholder="Comments"></textarea>
			  	</label>
			</div>
		</div>
	</ion-content>
</ion-view>