<ion-view view-title="Login" name="login-view">

    <ion-content class="padding">

        <div class="list list-inset">

            <label class="item item-input">
                <input type="text" placeholder="Usu&aacute;rio" ng-model="data.login">
            </label>

            <label class="item item-input">
                <input type="password" placeholder="Senha" ng-model="data.senha">
            </label>

        </div>

        <button class="button button-block button-calm" ng-click="login()">Login</button>

    </ion-content>

</ion-view>