<ion-view can-swipe-back="true">
	<ion-nav-title>
		<div class="title title-center header-item">
			<span class="nav-bar-title">
				Agendamento : {{especialidade}},{{horario}}:00
			</span>
		</div>
	</ion-nav-title>
	
	<ion-content>
		<div class="row logo"> <img class="col-50 col-offset-25 logo" src="img/unimed.png" ></div>

		<div  ng-repeat="info in data">
			<div class="detalhe item item-divider">{{info.hospital}}</div>
			
			<div class="list">
		        <a class="item" href="#/confirmar/{{obj}}" ng-trim="true" ng-repeat="medico in info.medicos" ng-click="formarJson(medico,info.hospital)">
		        	<div class="row">
			        	<div class="col-90">{{medico.nome}}</div>
				        <div class=""><i class="ion-chevron-right" ></i></div>
			        </div>
		        </a>
		    </div>
	    </div>
	</ion-content>

</ion-view>