<div class="header">
    <i class="ion-ios-arrow-back" ng-click="previous()"></i>
    <span>{{month.format("MMM, YYYY")}}</span>
    <i class="ion-ios-arrow-forward" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day">Dom</span>
    <span class="day">Seg</span>
    <span class="day">Ter</span>
    <span class="day">Qua</span>
    <span class="day">Qui</span>
    <span class="day">Sex</span>
    <span class="day">S&aacute;b</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}</span>
</div>
